<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/eee1872320.js"
      crossorigin="anonymous"
    ></script>
    <title>Weather App</title>
  </head>
  <body>
    <div
      hx-ext="ws"
      ws-connect="ws://localhost:8000/ws"
      class="min-h-screen flex items-center justify-center"
    >
      <div class="flex flex-col bg-white rounded p-4 w-full max-w-xs">
        <!-- City Input Form -->
        <form
          id="city-form"
          hx-post="/update-city"
          hx-trigger="submit"
          hx-swap="none"
          class="mb-4"
        >
          <input
            type="text"
            name="city"
            class="p-2 border border-gray-300 rounded w-full"
            placeholder="Enter city name"
            required
          />
          <button
            type="submit"
            class="mt-2 p-2 bg-[#818CF8] text-white rounded w-full"
          >
            Get Weather
          </button>
        </form>
        <!-- Weather Data Display -->
        <div class="font-bold text-xl">
          <div id="weather-data-name"></div>
        </div>
        <div class="text-sm text-gray-500">
          <div id="update-timestamp"></div>
        </div>
        <div
          class="mt-6 text-6xl self-center inline-flex items-center justify-center rounded-lg text-indigo-400 h-24 w-24"
        >
          <svg
            class="w-32 h-32"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"
            ></path>
          </svg>
        </div>
        <div class="flex flex-row items-center justify-center mt-6">
          <div id="weather-data-temp" class="font-medium text-6xl"></div>
          <div class="flex flex-col items-center ml-6">
            <div id="weather-data-weather-main"></div>
            <div class="mt-1">
              <span class="text-sm">
                <i class="fa-solid fa-arrow-up"></i>
              </span>
              <span
                class="text-sm font-light text-gray-500"
                id="weather-data-main-temp-max"
              ></span>
            </div>
            <div>
              <span class="text-sm"
                ><i class="fa-solid fa-arrow-down"></i
              ></span>
              <span
                class="text-sm font-light text-gray-500"
                id="weather-data-main-temp-min"
              ></span>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-between mt-6">
          <div class="flex flex-col items-center">
            <div class="font-medium text-sm">Wind</div>
            <div class="text-sm text-gray-500" id="weather-data-wind">k/h</div>
          </div>
          <div class="flex flex-col items-center">
            <div class="font-medium text-sm">Humidity</div>
            <div class="text-sm text-gray-500" id="weather-data-humidity">
              %
            </div>
          </div>
          <div class="flex flex-col items-center">
            <div class="font-medium text-sm">Visibility</div>
            <div class="text-sm text-gray-500" id="weather-data-visibility">
              km
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  </body>
</html>
